* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
}
.grid_container {
  max-width: 1300px;
  margin: auto;
}

header {
  align-items: center;
  background-color:#f7f7f7;
  display: flex;
  height: 10vh;
  width: 100%;
  min-height: 65px;
  max-height: 200px;
  border-bottom: 1px solid #cdd2da;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 80px;
}

.nav .nav-logo_container {
  margin-left: 5px;
}

.nav-logo {
  width: 60px;
}

.nav ul {
  margin-top: 12px;
  padding: 0;
  list-style: none;
  display: table;
  width: auto;
  height: 65px;
  text-align: center;
}

.nav li {
  display: table-cell;
  position: relative;
  padding: 10px 0;
}
.nav a {
  color: #393e46;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  font-weight: 500;
}
.nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #393e46;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav a:hover:after {
  width: 100%;
  left: 0;
}

.home--main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  min-height: 700px;
  height: 85vh;
  color: white;
  top: 0;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../img/clock-foto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main--container{
  height: 400px;
  display: grid;
  grid-column: 2;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 20px;
}
.main--container-description{
  font-size: 30px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}
.main--container-button{
  display: flex;
  justify-content: center;
}

.main--container-button a{
  border-color: #eeeeee;
  border-style: solid;
  color: #eeeeee;
  width: 140px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 9px 12px;
  position: relative;
  font-weight: 500;
}
.main--container-button a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 10px;
  left: 50%;
  position: absolute;
  background: #eeeeee;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.main--container-button a:hover:after{
  width: 100%;
  left: 0;
}

/*
BLOGS CONTAINER #####################
*/

.blogs--main {
  display: grid;
}

.blogs-news-container {
  background-color: #929aab;
  padding: 40px 30px 40px;
  color: #393e46;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.blogs-main-news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr;
}

.blogs-main-news h3{
  padding-bottom: 30px;
  letter-spacing: 2px;
}

.blogs-news-img-container {
  grid-column-start: 1;
  display: flex;
  justify-content: flex-end;
}

.blogs-news-img-container img{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.blogs-news-info-container {
  grid-column: 2;
  padding: 50px;
}

.blogs-news-info-container h2{
  padding-bottom: 30px;
}

.blogs-news-info-container p{
  margin-bottom: 35px;
}

.blogs-posts-container {
  padding: 50px 40px;
}

.blogs-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
}

.blogs-btn{
  border-color: #393e46;
  border-style: solid;
  color: #393e46;
  width: 105px;
    height: 48px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 9px 12px;
  position: relative;
  font-weight: 500;
}
.blogs-btn:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 10px;
  left: 50%;
  position: absolute;
  background: #393e46;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.blogs-btn:hover:after{
  width: 100%;
  left: 0;
}


.blogs-posts-container .posts-container{
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 20px 10px;
  max-width: 30%;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.blogs-posts-container .posts-container h4{
  margin-bottom: 30px;
}


.blogs-posts-container .posts-container p{
  margin-bottom: 30px;
}

.blogs-posts-container .posts-container img{
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
/*
BLOG #####################3
*/

.blogpost-img-container {
  padding: 40px;
}


.blogpost-img-container img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.blogpost-main-container {
  padding: 0px 40px;
}

.blogpost-main-container a{
  color: black;
}

.blogpost-main-container h3{
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.blogpost-main-container-header h1 {
  padding: 5px 0;
  font-size: 35px;
}
.blogpost-main-container-header h4 {
  letter-spacing: 1px;
  font-size: 14;
  font-weight: 400;
  margin-left: 2;
}

.blogpost-main-container article h2 {
  padding: 30px 0px 10px 0px;
}

.blogpost-main-container article p {
  font-size: 1rem;
}

.blogpost-main-container article ul {
  margin-left: 30px
}
.contact-upper-container {
  background-color: #929aab;
  min-height: 200px;
  width: 100%;
  margin-top: 60px;
}
.contact-upper-container p{
  margin-top: 20px;
}
.contact-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  color: #eeeeee;
  min-height: 200px;
}
.contact-main-container img {
  width: 100px;
  margin: 0 20px;
}

.contact-main-container a {
  text-decoration: none;
  color: #eeeeee;
  border-bottom:  2px solid #eeeeee;
  padding-bottom: 10px;
  letter-spacing: 2px;
}
.contact-left{
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  border-right: 1px solid #cdd2da;
  padding-right: 30px;
}
.contact-right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-main-container {
  min-height: 200px;
  width: 100%;
  margin: 10vh 0px;
  padding: 40px 30px 40px;
}

.about-main {
  text-align: center;
  /* margin: 60px; */
}

.about-main h3 {
  margin: 40px 0;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.about-info-container p{
  letter-spacing: 1px;
  font-weight: 300;
}

.about-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr;
  grid-column-gap: 2px;
  margin-top: 50px;
}

.about-img-container img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #393e46;
  color:#CCCCCC;
  width: 100%;
  height: 75px;
}
footer p {
  display: flex;
  align-self: center;
  font-size: 13px;
  margin-left: 5vw;
}
footer ul {
  display: flex;
  grid-column: 2;
  justify-content: flex-end;
  align-items: flex-start;
  list-style-type: none;
  align-items: center;
  margin-right: 5vw;
}

footer li {
  text-decoration: none;
}

footer img{
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}